<div class="row">
    <div class="modal-header">
        <h1>Consultar Expediente</h1>
    </div>
    <div class="modal-body">
        <select name="" id="" class="form-control" #expedientes (change)="optenerExpediente(expedientes.value)">
           <option value="">Seleccione un expediente</option>
           <option [value]="expediente">{{expediente}}</option>
       </select>
    </div>
    <div class="footer-body">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>