<div class="main-navbar">
    <!-- Image and text -->
<nav class="navbar">
<div class="container-fluid">
  <a class="navbar-brand" href="#">
    <img src="assets/img/logo2.png" alt="" width="30" height="24" class="d-inline-block align-top img1">
  </a>
  <div class="titulo">
      <h1>Proceso de autogestión de trámites ambientales</h1>
  </div>
  <form class="navbar-brand2">
    <img src="http://indecho.gov.co/site/style/escudo-de-colombia.png" alt="" width="30" height="24" class="d-inline-block align-top img2">
  </form>
</div>

</nav>
</div>
