<div class="main-stepper">
    <div class="row">
        <mat-horizontal-stepper [linear]="isLinear" #stepper class="stepper">
            <mat-step [editable]="isEditable2" [completed]="completo2">
                <form>
                    <ng-template matStepLabel>Adjuntar evidencia</ng-template>
                    <app-adjuntar (atrasPrimeroOut)="atrasPrimero($event)"></app-adjuntar>
                </form>
            </mat-step>
            <mat-step>
                <form>
                    <ng-template matStepLabel>Resumen de datos</ng-template>
                    <app-resumen-datos></app-resumen-datos>
                </form>
            </mat-step>
            <mat-step>
                <form>
                    <ng-template matStepLabel>Confirmación envío</ng-template>
                    <app-confirmacion-envio></app-confirmacion-envio>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>