.main-stepper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    margin-left: 0px;
}

.stepper {
    width: 100%;
    flex-direction: column-reverse;
}

.mat-stepper-horizontal {
    width: 1400px;
}

::ng-deep {
    .mat-step-icon {
        height: 35px !important;
        width: 35px !important;
        background-color: #198754 !important;
    }
    .mat-step-icon-selected {
        background-color: #007bff !important;
    }
    .mat-step-icon-state-done {
        background-color: #007bff !important;
    }
}