<app-navbar></app-navbar>
<div class="row ">
    <h1 class="estado">Seleccione tipo de persona:</h1>
    <div class="col-md-12 col-sm-12 col-12 full">
        <div class="main-card">
                <div class="card1" (click)="personaNatural()">
                    <div class="from-group1">
                        <img src="assets/img/persona.jpg" alt="">
                        <h1>Persona Natural</h1>
                    </div>
                </div>            
                <div class="card2" (click)="personaJuridica()">  
                    <div class="from-group2">
                        <img src="assets/img/juridica.jpg" alt="">
                        <h1>Persona Juridíca</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
